EU_METADATA/SZR_FIGS/
EU_GENERAL/EU_GENERAL_FTRS 
SUMMER_STUDENTS
PAPERS
FTRS
PICS
MATLAB_CODE
TAUFIK_RESULTS
WILFRED_STUFF
MODELS
EU_GENERAL/SZR_FIGS
SLIDES
NOTES
PRIVATE
KREMBIL_POSTER
.DS_Store
__pycache__
SBOX/.ipynb_checkpoints
.ipynb_checkpoints
.idea
